* {
    font-family: 'Lato';
}

.subscribe_button {
    color: white;
    outline: none;
    float: left;
    border-color: gray;
    background: #2D2D2D;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
    width: 150px;
    border-width: 2px;
    transition: 0.3s;
}

.subscribe_button:hover {
    border: none;
    background: white;
    color: black;
}

.info_text {
    clear:both;
    float: left;
    color: gray;
    cursor: pointer;
    margin-bottom: 6px;
    transition: 0.3s;
}

.info_text:hover {
    cursor: pointer;
    margin-bottom: 6px;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.card_blue {
    text-align: center;
    color: white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background: #4b77f0;
    width: 200px;
    line-height: 50px;
    box-shadow: 0 6px 16px 0 rgba(66, 134, 244, 0.35);
    transition: 0.3s;
    border-radius: 5px;
}

.card_blue:hover {
    cursor: pointer;
    box-shadow: 0 8px 20px 0 rgba(66, 134, 244, 0.45);
}

.custom_blue_card {
    text-align: center;
    height: 200px;
    width: 33%;
    float: left;
    background: #4b77f0;
    color: white;
    box-shadow: 0 6px 16px 0 rgba(66, 134, 244, 0.5);
    transition: 0.3s;
    border-radius: 5px;
}

.custom_blue_card:hover {
    box-shadow: 0 10px 20px 0 rgba(66, 134, 244, 0.6);
}

.card_white {
    background: white;
    color: grey;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    line-height: 50px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.15);
}
.card_white:hover {
    box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.2);
}

.image_shadow {
    height: 100%;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 6px 24px 0 rgba(0, 0, 0, 0.4);
}

.image_shadow:hover {
    box-shadow: 0px 10px 34px 0 rgba(0, 0, 0, 0.5);
}

.info_card_image {
    margin-top: 40px;
    height: 130px;
    opacity: 0.55;
}

.info_card {
    text-align: center;
    height: 400px;
    width: 33%;
    float: left;
    border: 1px solid #e5e5e5;
    border-right: none;
}

.text_card {
    width: 93%;
    margin: auto;
    margin-top: 60px;
}

.container {
    width: 100%;
    position: relative;
    text-align: center;
}

.centered {
    color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
